<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

<div id="wrapper">

<div id="words">

<div id="box">

<h1> <%= image_tag('triangular42.png') %> Recycling is Cool!</h1>

<!-- <a href="/nouns/new">New Noun</a>

<ul>
  <% @nouns.each do |noun| %>
    <li>
      <a href="/nouns/<%= noun.id %>">
        <%= noun.name %>
      </a>
    </li>
  <% end %> -->
<!-- </ul> -->

<h2>You can use</h2>

<h3 id='noun1'></h3>


<h2>To make a</h2>

<h3 id='noun2'></h3>



<button id="sustain" type="button" name="sustain!">sustain</button>
<!-- <div id="picture">

  <%= image_tag('1.jpg') %>
</div> -->

</div>
</div>
</div>
